<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="us.nineworlds.xstreamer.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="us.nineworlds.xstreamer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="us.nineworlds.xstreamer.Perspective"
            id="com.example.rcpapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="us.nineworlds.xstreamer.category"
            class="us.nineworlds.xstreamer.forms.CountDownTimerPage"
            icon="images/clock-icon.png"
            id="us.nineworlds.xstreamer.view.timer"
            name="Timer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="us.nineworlds.xstreamer.category"
            class="us.nineworlds.xstreamer.forms.FirstPlayerPage"
            icon="images/P1.png"
            id="us.nineworlds.xstreamer.view.firstplayer"
            name="Player 1"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="us.nineworlds.xstreamer.category"
            class="us.nineworlds.xstreamer.forms.SecondPlayerPage"
            icon="images/P2.png"
            id="us.nineworlds.xstreamer.view.secondplayer"
            name="Player 2"
            restorable="true">
      </view>
      <view
            category="us.nineworlds.xstreamer.category"
            class="us.nineworlds.xstreamer.forms.GeneralFormPage"
            icon="images/Token_Charge_Back.png"
            id="us.nineworlds.xstreamer.view.general"
            name="General"
            restorable="true">
      </view>
      <category
            id="us.nineworlds.xstreamer.category"
            name="XStreamer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="us.nineworlds.xstreamer.view.general"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="us.nineworlds.xstreamer.view.timer"
               minimized="false"
               relationship="stack"
               relative="us.nineworlds.xstreamer.view.general">
         </view>
         <view
               id="us.nineworlds.xstreamer.view.firstplayer"
               minimized="false"
               relationship="stack"
               relative="us.nineworlds.xstreamer.view.timer">
         </view>
         <view
               id="us.nineworlds.xstreamer.view.secondplayer"
               minimized="false"
               relationship="stack"
               relative="us.nineworlds.xstreamer.view.firstplayer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <separator
                  name="com.example.rcpapp.separator1"
                  visible="true">
            </separator>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
              
         </menu>
         <menu
               label="Help"
               mnemonic="&amp;H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About XStreamer"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="us.nineworlds.xstreamer.preferences.SquadPrefencesPage"
            id="us.nineworlds.xstreamer.preferences.GeneralPreferencePage"
            name="Squadron">
      </page>
      <page
            class="us.nineworlds.xstreamer.preferences.TimerPreferencePage"
            id="us.nineworlds.xstreamer.timer.pref"
            name="Timer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="us.nineworlds.xstreamer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="us.nineworlds.xstreamer.ui.importWizards.sampleCategory"
            name="Squads">
      </category>
      <wizard
            category="us.nineworlds.xstreamer.ui.importWizards.sampleCategory"
            class="us.nineworlds.xstreamer.ui.importWizards.PlayerSquads"
            icon="images/Token-PrototypeShip.png"
            id="us.nineworlds.xstreamer.ui.importWizards.PlayerSquads"
            name="Import Player Squads">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         id="xstreamer"
         point="org.eclipse.core.runtime.products">
      <product
            application="us.nieworlds.xstreamer.application"
            name="XStreamer">
         <property
               name="appName"
               value="XStreamer">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="us.nineworlds.xstreamer.application"
            name="XStreamer">
         <property
               name="appName"
               value="XStreamer">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>

</plugin>
