<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.rcpapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.example.rcpapp.Perspective"
            id="com.example.rcpapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="us.nineworlds.xstreamer.forms.CountDownTimerPage"
            icon="images/clock-icon.png"
            id="us.nineworlds.xstreamer.view.timer"
            name="Timer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="us.nineworlds.xstreamer.forms.FirstPlayerPage"
            icon="images/P1.png"
            id="us.nineworlds.xstreamer.view.firstplayer"
            name="Player 1"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="us.nineworlds.xstreamer.forms.SecondPlayerPage"
            icon="images/P2.png"
            id="us.nineworlds.xstreamer.view.secondplayer"
            name="Player 2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="us.nineworlds.xstreamer.view.timer"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="us.nineworlds.xstreamer.view.firstplayer"
               minimized="false"
               relationship="stack"
               relative="us.nineworlds.xstreamer.view.timer">
         </view>
         <view
               id="us.nineworlds.xstreamer.view.secondplayer"
               minimized="false"
               relationship="stack"
               relative="us.nineworlds.xstreamer.view.firstplayer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <separator
                  name="com.example.rcpapp.separator1"
                  visible="true">
            </separator>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="us.nineworlds.xstreamer.preferences.SquadPrefencesPage"
            id="us.nineworlds.xstreamer.preferences.GeneralPreferencePage"
            name="Squadron">
      </page>
      <page
            class="us.nineworlds.xstreamer.preferences.TimerPreferencePage"
            id="us.nineworlds.xstreamer.timer.pref"
            name="Timer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="us.nineworlds.xstreamer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="us.nineworlds.xstreamer.ui.importWizards.sampleCategory"
            name="Squads">
      </category>
      <wizard
            category="us.nineworlds.xstreamer.ui.importWizards.sampleCategory"
            class="us.nineworlds.xstreamer.ui.importWizards.PlayerSquads"
            icon="images/Token-PrototypeShip.png"
            id="us.nineworlds.xstreamer.ui.importWizards.PlayerSquads"
            name="Import Player Squads">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
