<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.rcpapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.example.rcpapp.Perspective"
            id="com.example.rcpapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="us.nineworlds.xstreamer.forms.CountDownTimerPage"
            id="com.example.rcpapp.view1"
            name="Timer"
            restorable="true">
      </view>
      <view
            class="us.nineworlds.xstreamer.forms.FirstPlayerPage"
            id="com.example.rcpapp.view2"
            name="Player 1"
            restorable="true">
      </view>
      <view
            class="us.nineworlds.xstreamer.forms.SecondPlayerPage"
            id="com.example.rcpapp.view3"
            name="Player 2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.example.rcpapp.view1"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.example.rcpapp.view2"
               minimized="false"
               relationship="stack"
               relative="com.example.rcpapp.view1">
         </view>
         <view
               id="com.example.rcpapp.view3"
               minimized="false"
               relationship="stack"
               relative="com.example.rcpapp.view2">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="us.nineworlds.xstreamer.preferences.GeneralPreferencePage"
            id="us.nineworlds.xstreamer.preferences.GeneralPreferencePage"
            name="General Preferences">
      </page>
      <page
            class="us.nineworlds.xstreamer.preferences.TimerPreferencePage"
            id="us.nineworlds.xstreamer.timer.pref"
            name="Timer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="us.nineworlds.xstreamer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
