<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="us.nineworlds.xstreamer.category"
            class="us.nineworlds.xstreamer.browser.BrowserView"
            icon="icons/Satellite.png"
            id="us.nineworlds.xstreamer.browser.browserView"
            name="Browser"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Browser"
            id="us.nineworlds.xstreamer.browser.commands.browserCategory"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            defaultHandler="us.nineworlds.xstreamer.browser.handlers.BackHandler"
            id="us.nineworlds.xstreamer.browser.commands.back"
            name="Back"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            defaultHandler="us.nineworlds.xstreamer.browser.handlers.ForwardHandler"
            id="us.nineworlds.xstreamer.browser.commands.forward"
            name="Forward"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            defaultHandler="us.nineworlds.xstreamer.browser.handlers.StopHandler"
            id="us.nineworlds.xstreamer.browser.commands.stop"
            name="Stop"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            defaultHandler="us.nineworlds.xstreamer.browser.handlers.RefreshHandler"
            id="us.nineworlds.xstreamer.browser.commands.refresh"
            name="Refresh"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            name="New Tab"
            id="us.nineworlds.xstreamer.browser.commands.newTab"/>
      <command
            categoryId="us.nineworlds.xstreamer.browser.commands.browserCategory"
            name="History"
            id="us.nineworlds.xstreamer.browser.commands.history"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:us.nineworlds.xstreamer.browser.browserView">
         <command
               commandId="us.nineworlds.xstreamer.browser.commands.back"
               icon="icons/nav_backward.gif"
               style="push"
               tooltip="Back">
         </command>
         <command
               commandId="us.nineworlds.xstreamer.browser.commands.forward"
               icon="icons/nav_forward.gif"
               style="push"
               tooltip="Forward">
         </command>
         <command
               commandId="us.nineworlds.xstreamer.browser.commands.stop"
               icon="icons/nav_stop.gif"
               style="push"
               tooltip="Stop">
         </command>
         <command
               commandId="us.nineworlds.xstreamer.browser.commands.refresh"
               icon="icons/nav_refresh.gif"
               style="push"
               tooltip="Refresh">
         </command>
      </menuContribution>
   </extension>
</plugin>
