<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="us.nineworlds.xstreamer.product"
            splashId="us.nineworlds.xstreamer.branding.splashHandler">
      </splashHandlerProductBinding>
   </extension>

</plugin>
